html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: transparent
}

button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434445;
  background-color: #ffffff;
}

address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #2E2F42;
  text-transform: uppercase;
}

.logo-span {
  color: #4D5AE5;
}

.header__list {
  font-weight: 500;
}

.header__link:hover {
  color: #404BBF;
}

.header__link:active {
  color: #404BBF;
  border-bottom: 4px solid #404BBF;
}

.header__link:focus {
  border: 1px dashed #9747ff;
  border-radius: 5px;
}

.address__link:hover {
  color: #404BBF;
}

.address__link:focus {
  border: 1px dashed #9747ff;
  border-radius: 5px;
}

.hero {
  background-color: #2E2F42;
}

.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

.hero__btn {
  font-weight: 500;
  color: #ffffff;
  background-color: #4D5AE5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero__btn:hover {
  background-color: #404BBF;
}

.advantages__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
}

.team {
  background-color: #F4F4FD;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #2E2F42;
  text-align: center;
}

.team__item {
  width: 264px;
  height: 380px;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team__title,
.portfolio__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
}

.portfolio__item {
  border: 1px solid #E7E9FC;
  border-top: 0;
}

.footer {
  background-color: #2E2F42;
}

.footer__logo {
  color: #F4F4FD;
}

.footer__text {
  color: #F4F4FD;
}