ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

img {
  display: block;
}

.adress {
  font-style: normal;
} 

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header__logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__logo-span {
 color: #2e2f42; 
}

.header__link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: #404bbf;
}

.link-active {
  position: relative;
  color: #404bbf;
}

.link-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: 0;
  left: 0;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address__link {
  display: block;
  padding: 24px 0;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #404bbf;
}

.main {
  flex-grow: 1;
}

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) ,url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2E2F42;
  max-width: 1440px;
  padding: 188px 15px;
  margin: 0 auto;
}

.hero__title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 48px;
}

.hero__btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #404BBF;
}

.advantages__list {
  display: flex;
  gap: 24px;
}

.advantages__item {
  flex-basis: calc((100% - 71px) / 4);
}

.advantages__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team__box {
  padding: 32px 0;
}

.team__title,
.team__text {
  margin-bottom: 8px;
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover {
  background-color: #404bbf;
}

.team__title,
.portfolio__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio__item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__box-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px 0px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__text-cover {
transform: translateY(0);
}

.portfolio__box {
  padding: 32px 16px;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
}

.portfolio__title {
  margin-bottom: 8px;
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-wrap {
  display: flex;
  gap: 120px;
}

.footer__logo {
  margin-bottom: 16px;
}
.footer__text {
  max-width: 264px;
}

.footer__logo-span,
.footer__text {
  color: #f4f4fd;
}

.footer__social-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer__social-list {
  display: flex;
  gap: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover {
  background-color: #31d0aa;
}
